WebClientHatem/Connected Services/WCFHatem/WCFHatem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WCFHatem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://pragimtech.com/Employee" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFHatem_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_Stam_InputMessage">
    <wsdl:part name="parameters" element="tns:Stam" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_Stam_OutputMessage">
    <wsdl:part name="parameters" element="tns:StamResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_JsonWow_InputMessage">
    <wsdl:part name="parameters" element="tns:JsonWow" />
  </wsdl:message>
  <wsdl:message name="IWCFHatem_JsonWow_OutputMessage">
    <wsdl:part name="parameters" element="tns:JsonWowResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFHatem">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHatem/GetMessage" message="tns:IWCFHatem_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHatem/GetMessageResponse" message="tns:IWCFHatem_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHatem/GetEmployee" message="tns:IWCFHatem_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHatem/GetEmployeeResponse" message="tns:IWCFHatem_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHatem/SaveEmployee" message="tns:IWCFHatem_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHatem/SaveEmployeeResponse" message="tns:IWCFHatem_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHatem/DeleteEmployee" message="tns:IWCFHatem_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHatem/DeleteEmployeeResponse" message="tns:IWCFHatem_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stam">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHatem/Stam" message="tns:IWCFHatem_Stam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHatem/StamResponse" message="tns:IWCFHatem_Stam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JsonWow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFHatem/JsonWow" message="tns:IWCFHatem_JsonWow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFHatem/JsonWowResponse" message="tns:IWCFHatem_JsonWow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFHatem" type="tns:IWCFHatem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IWCFHatem/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFHatem/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFHatem/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IWCFHatem/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stam">
      <soap:operation soapAction="http://tempuri.org/IWCFHatem/Stam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JsonWow">
      <soap:operation soapAction="http://tempuri.org/IWCFHatem/JsonWow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFHatem">
    <wsdl:port name="BasicHttpBinding_IWCFHatem" binding="tns:BasicHttpBinding_IWCFHatem">
      <soap:address location="http://localhost:8080/ClassLibraryHatem" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>